@{
    ViewBag.Title = "Home Page";
}

<div class="calendar-nav-strip">
    <button class="btn btn-info pull-left">Previous</button>
    <span class="text-center col-md-10 col-sm-8 col-xs-6">JULY 2015</span>
    <button class="btn btn-info pull-right">Next</button>
</div>
<div class="custom-calendar-full">
    <div id="calendar" class="fc-calendar-container"></div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var obj = $('#calendar').calendario();
        });
    </script> 
}