@{
    ViewBag.Title = "Home";
}

@Styles.Render("~/Content/css/calendar")

<div id="homePageContent" ng-controller="homePageCtrl">
    <div class="calendar-nav-strip">
        <button class="btn btn-info pull-left" ng-click="switchToPreviousMonth()">Previous</button>
        <span class="text-center col-md-10 col-sm-8 col-xs-6" ng-bind="formattedMonthAndYear()"></span>
        <button class="btn btn-info pull-right" ng-click="switchToNextMonth()">Next</button>
        <button class="btn btn-info pull-right" ng-click="switchToToday()">Today</button>
    </div>
    <div class="custom-calendar-full">
        <div id="calendar" class="fc-calendar-container"></div>
    </div>
</div>