@using Calendar.Extensions
@using Calendar.Models

@model EventListViewModel
@{
    ViewBag.Title = "Events";
}

<div id="eventContent" ng-controller="eventCtrl" ng-init='init(@Html.Raw(Model.ToJson()))' class="container content">
    @Html.Partial("~/Views/Event/_AddEditEventTemplate.cshtml")
    <h2 ng-cloak>Events on {{day | date:'fullDate'}}</h2>
    <button ng-click="addEvent()" class="btn btn-info">Add</button>
    <button ng-click="switchToNextDay()" class="btn btn-default pull-right">Next day</button>
    <button ng-click="switchToPreviousDay()" class="btn btn-default pull-right">Previous day</button>
    <div ng-cloak ng-show="noEvents()" class="alert alert-info no-events" role="alert">No events on this day</div>
    <table ng-cloak ng-hide="noEvents()" class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="completed-{{event.isRemoved}}" ng-repeat='event in events | orderBy: ["isRemoved", "startDate", "endDate"]'>
                <td class="col-md-3">{{ event.title }}</td>
                <td class="col-md-1">{{ event.startDate | date:'shortTime'}}</td>
                <td class="col-md-1">{{ event.endDate | date:'shortTime'}}</td>
                <td class="col-md-5">{{ event.description}}</td>
                <td ng-hide="event.isRemoved" class="link col-md-1"><span ng-click="editEvent(event.id)" class="glyphicon glyphicon-pencil"></span></td>
                <td ng-hide="event.isRemoved" class="link col-md-1"><span ng-click="removeEvent(event.id)" class="glyphicon glyphicon-remove"></span></td>
            </tr>
        </tbody>
    </table>
</div>